.App {
  text-align: center;
  margin: 50px 275px;
  border: 2px solid rgb(80, 76, 76);
  background-color: white;
}

body {
  background-image: url("/./LDNPunderground.png");
  background-position: center;
}

.Mode-selector {
  padding-top: 25px;
}

.Line-selector {
  padding-top: 25px;
  margin-bottom: 40px;
}

.Route-section {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.Route {
  border: 2px solid #113b92;
  background-color: #113b92;
  border-radius: 5px;
  padding: 25px 25px;
  font-weight: 600;
  color: white;
  width: 200px;
  height: 100px;
}

.Arrow {
  margin: 0 50px;
  align-self: center;
}

.Line {
  justify-content: flex-start;
}
